<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Chou | Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <button class="menu">&#9776;</button>
    <h1>My Portfolio</h1>

    <nav>
        <ul>
            <li><a href="#about">About me</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<main>

<!-- ABOUT / HERO -->
<section class="hero" id="about">
    <div class="hero-content">
        <h1 class="name">Ryan <span>Chou</span></h1>
    <h2 class="title">Undergrad Research Assistant / Data Analyst</h2>
    <p class="bio">Ryan is a Data Analytics undergraduate at The Ohio State University with experience in clinical trial analytics, biostatistics, and 
optimization modeling. Skilled in Python, R, SQL, and statistical modeling, with internship experience at AbbVie and biotech 
organizations. Currently work as an Undergraduate Research Assistant in CSEL for OSU.</p>
    </div>
</section>


<!-- EDUCATION / EXPERIENCE -->
<section class="profile">
    <img src="images/9.jpg" alt="Profile image">
    <img src="images/1.jpg" alt="Me">
    <img src="images/2.jpg">
</section>

<!-- All about me-->
<section class="profile">
<div class="info">
        <h2>All About Me</h2>
        <p>
            Hobbies: Baskeball, snowboarding, <br>
            Line 2<br>
            Line 3
        </p>
    </div>
</section>

<!-- PROJECTS -->
<section class="projects" id="projects">

    <div class="project-card">
        <a href="/projectpdf/Final-Project.pdf" target="_blank">
        <h3>Motion Picture Revenue Prediction Model</h3></a>
        <p>Compared 4 predictive models on 100 films, selecting key revenue drivers with AIC/BIC stepwise methods. 
            Estimated budget/revenue ROI impacts and generated revenue forecasts with uncertainty for business decisions.
</p>
    </div>

    <div class="project-card">
    <a href="/projectpdf/PC Part Optimizer.pdf" target="_blank">
        <h3>PC Part Optimizer</h3></a>
        <p>A Python + Gurobi mixed-integer optimization tool that automatically picks the best value PC parts under budget, color, and RGB constraints. 
            It uses a weighted scoring system across 9 hardware categories to rank builds and highlight performance vs. cost trade-offs.
</p>
    </div>
    <div class="project-card">    
        <a href="/projectpdf/Final-Project.pdf" target="_blank">
        <h3>Motion Picture Revenue Prediction Model</h3></a>
        <p>
</p>
    </div>

    <div class="project-card">
        <a href="https://u.osu.edu/csel/research-projects/soap/" target="_blank">
        <h3>SOAP (Ongoing)</h3></a>
        <p>Work as an undergraduate research assistant with Cognitive Systems Engineering Lab (CSEL) 
            at The Ohio State University. Processing data from the central sterile services at Ohio State 
            University Wexner Medical Center to assist them with representations to support proactive safety and resilience. 

</p>
    </div>

</section>

<!-- CONTACT -->
<section class="contact" id="contact">
    <h2>Contact</h2>
    <p>
        Email: chou.391@osu.edu / 
        LinkedIn:
        <a href="https://www.linkedin.com/in/ryan-chou2030/" target="_blank"> Ryan_Chou_Linkedln</a>
        </p>
</section>

</main>

</body>
</html>
/* website color schemes */
:root {
    --porfolio-1: #141414;
    --porfolio-2: #1f1f1f;
    --porfolio-3: #beac92;
    --porfolio-4: #f4f4f4;
    --porfolio-5: #b8b8b8;
}

/* Global */
body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: var(--porfolio-2);
    color: var(--porfolio-5);
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 30px;
    background-color: var(--porfolio-1);
    border-bottom: 1px solid #2a2a2a;
}

header h1 {
    color: var(--porfolio-4);
    font-size: 1.8rem;
    text-align: left;
}

.menu {
    font-size: 2.0rem;
    background: none;
    border: none;
    color: var(--porfolio-5);
    cursor: pointer;
    text-decoration: underline;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--porfolio-4);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}

nav a:hover {
    color: var(--porfolio-4);
    text-decoration: underline;

}

/* Sections */
section {
    padding: 60px 30px;
}

/* Hero */
.hero {
    /* position: relative; */
    min-height: 100vh;
    background-color: var(--porfolio-2);
    background-image: url("images/5.jpg");
    background-repeat: no-repeat; 
    background-position: right; 
    background-size: contain;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    padding: 80px;
    overflow: hidden;

    animation: fadeInBg 2.0s ease-in forwards;
    opacity: 0;

    background-attachment: fixed;
}

.hero-content {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 520px;
    padding: 0;

    z-index: 2;

    animation: textFade 1.2s ease-out forwards;
    opacity: 0;
}


.name {
    font-size: 3.2rem;
    font-weight: 800;
    color: #f5f5f5;
    margin-bottom: 0px;
    letter-spacing: 0.7px;
}

.name span {
    font-weight: 600;
    opacity: 0.9;
}

.hero-content .title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #cfcfcf;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-weight: 500;
}

.title {
    font-weight: 500;
}

.bio {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #bdbdbd;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
    );
    z-index: 1;
}

@keyframes fadeInBg {
    from {
        opacity: 0;
        transform: scale(1.02);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes textFade {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Statement 
.statement {
    background-color: var(--porfolio2);
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
} */

/* Profile */
.profile {
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile img {
    width: 400px;
    position:relative;
    align-items: center; 
}

.info h2 {
    color: var(--porfolio-4);
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    color: var(--porfolio-2)
    
}

.project-card {
    background-color: var(--porfolio-3);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    color: var(--porfolio-1);
}

.project-card:hover {
    transform: scale(1.12);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    color: var(--porfolio-1);
    text-align: center;
    font-size: 1.5rem;
}

.project-card a {
    font-size: 1.2rem;
}

.proj:visited a:visited {
    color: inherit;
}

.project-card p {
    text-align: justify;
}

.projects h1{
    color: #f4f4f4;
}



/* Contact */
.contact {
    background-color: #0f0f0f;
    text-align: center;
    font-size: 1.5rem;
}

/* link doesn't turn purple */
a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
